@charset "UTF-8";

.secLeft { width:20%; min-height: 580px; float:left; margin: 0; list-style-type : none; border-right: 1px solid #dedcee;}
.mylist { list-style-type: none; text-align : left; }

.secRight { width:80%; min-height: 580px; height: 100%; float:left; margin: 0; padding: 10px; }
