<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="ssgsoMapper">
	
	<!-- 숙소 전체 조회  -->
	<select id="selectAccomodationAllList" resultType="com.project.ssgso.dto.AccomodationDto">
		SELECT AC_NO, NAME, INFO, AC_IMG, 
			TO_CHAR(LATITUDE, 'FM990.000000') AS latitude, TO_CHAR(LONGITUDE, 'FM990.000000') AS longitude, ADDRESS 
		FROM ACCOMODATION
		ORDER BY AC_NO ASC
	</select>
	
	<!-- 숙소 상세 조회  -->
	<select id="selectAccomodation" parameterType="int" resultType="com.project.ssgso.dto.AccomodationDto">
		SELECT AC_NO, NAME, INFO, AC_IMG, 
			TO_CHAR(LATITUDE, 'FM990.000000') AS latitude, TO_CHAR(LONGITUDE, 'FM990.000000') AS longitude, ADDRESS 
		FROM ACCOMODATION
		WHERE AC_NO = #{ac_no}
		ORDER BY AC_NO ASC
	</select>
	
	<!-- 숙소 디테일(룸) 전체 조회  -->
	<select id="selectRoomAllList" resultType="com.project.ssgso.dto.RoomDto">
		SELECT ROOM_NO, TITLE, CONTENT, MIN_PER, MAX_PER, PRICE, AC_NO
		FROM ROOM
		ORDER BY ROOM_NO ASC
	</select>
	
	<select id="selectCategoryAllList" resultType="com.project.ssgso.dto.CategoryDto">
		SELECT CAT_NO, CAT_VAL
		FROM CATEGORY
		ORDER BY CAT_NO ASC
	</select>
	
	<!-- create accomodation -->
	<insert id="createAccomodation" parameterType="java.util.HashMap">
		INSERT INTO ACCOMODATION
		(AC_NO, NAME, INFO, AC_IMG, LATITUDE, LONGITUDE, ADDRESS, AC_PHONE, AC_ACCOUNT, AC_PRICE, ID, CATEGORY) 
		VALUES(SEQ_ACC.NEXTVAL, #{name}, #{info}, #{ac_img}, #{latitude}, #{longitude}, 
		#{roadFullAddr}, #{ac_phone}, #{ac_account}, #{ac_price}, #{id}, #{category})
		
	</insert>
	
	<select id="getAcnoUsingName" resultType="int" parameterType="String">
		SELECT AC_NO FROM ACCOMODATION
		WHERE NAME = #{name}
	</select>
	
	</mapper>